.breadcrumbs {
    font-size: 15px;
    margin-bottom: 20px;
    &__item {
        color: $basecolor;
    }
    &__link {
        color: #7f489c;
        &:hover {
            text-decoration: none;
        }
    }
}
