.popular-video {
    margin-top: 30px;
    margin-bottom: 30px;
    &__layout {
        width: 920px;
        margin: 0 auto 30px;
        @include legacy-pie-clearfix;
    }
    &__title {
        background-color: #6053a3;
        color: #fff;
        display: table;
        margin: 0 auto;
        padding-left: 25px;
        padding-right: 25px;
        // font-weight: 400;
        font-weight: bold;
        font-size: 24px;
        color: #fff;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__view-all {
        display: block;
        clear: both;
        width: 100px;
        margin: 20px auto 0;
        color: #fff;
        @include border-radius(16px);
        text-decoration: none;
        background-color: #6053a3;
        text-align: center;
        padding: 6px 0;
    }
}

.video-carusel {
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
}
